@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Primary
$dark-cyan: hsl(185, 75%, 39%);
$dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

//Neutral
$dark-gray: hsl(0, 0%, 59%);

//Name and Stats Font Size
$primary-font-size: 18px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $dark-cyan;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
}

// body, html {
//     overflow: hidden;
// }

.container {
    overflow: hidden;
    position: relative;
    height: 100%;
}

#image-top-pattern {
    position: absolute;
    transform: translate(-35%, -55%);
}

#image-bot-pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 65%);
}

.card {
    width: clamp(280px, 50vw, 320px); // min, value, max
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 12px;
}

.card-top {
    background-image: url("../images/bg-pattern-card.svg");
    background-size: contain;
    width: 100%;
    height: 135px;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#profile-pic {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    bottom: -50px; // Half of the div height
    left: 50%;
    transform: translateX(-50%);

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.card-info {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 60% auto;
}

#name {
    padding: 15px 5px;
    text-align: right;
    font-weight: 700;
    color: $dark-desaturated-blue;
}

#age {
    padding: 15px 5px;
}

#city {
    grid-column: span 2;
    text-align: center;
    font-size: 14px;
    color: $dark-gray;
}

.card-footer {
    margin-top: 15px;
    padding: 20px 0;
    border-top: 1px solid rgba($dark-gray, 0.3);
    display: flex;

    .col {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .stat_number {
            font-size: $primary-font-size;
            color: $dark-desaturated-blue;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .social-media-text {
            font-size: 14px;
            color: $dark-gray;
        }
    }
}


.attribution {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}


@media only screen and (max-width:375px) {

    #image-bot-pattern {
        transform: translate(70%, 75%)
    }
}

@media only screen and (max-width: 706px) {
    #image-top-pattern {
        transform: translate(-70%, -55%);
    }

    #image-bot-pattern {
        transform: translate(70%, 55%)
    }
}

@media only screen and (max-height: 700px) and (max-width: 375px) {
    #image-top-pattern {
        transform: translate(-70%, -75%);
    }

    #image-bot-pattern {
        transform: translate(70%, 75%);
    }
}