@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Primary
$dark-cyan: hsl(185, 75%, 39%);
$dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

//Neutral
$dark-gray: hsl(0, 0%, 59%);

//Name and Stats Font Size
$primary-font-size: 18px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: $dark-cyan;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position:  right 49vw bottom 40vh, left 49vw top 42vh;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .card {
        background-color: #fff;
        width: clamp(270px, 50vw, 320px);
        border-radius: 12px;
        overflow: hidden;
        min-height: clamp(250px, 60vh, 300px);
        margin-bottom: 1em;

        header {
            background-image: url(../images/bg-pattern-card.svg);
            background-size: cover;
            position: relative;
            margin-bottom: 3.5em;
            min-height: 32%;

            img {
                position: absolute;
                width: 6em;
                height: 6em;
                left: 50%;
                transform: translateX(-50%);
                bottom: -50px;
                border-radius: 50%;
                border: 5px solid #fff;
            }
        }

        .card-body {
            display: grid;
            place-items: center;
            align-content: space-around;
            padding-bottom: .5em;
            min-height: 22%;

            .name {
                color: $dark-desaturated-blue;
                font-weight: 700;
                font-size: $primary-font-size;
            }

            .age {
                color: $dark-grayish-blue;
                font-weight: 400;
                font-size: $primary-font-size
            }

            .city {
                color: $dark-gray;
                font-weight: 400;
                font-size: 15px;
            }
        }

        footer {
            border-top: 1px solid rgba($dark-gray, .3);
            width: 100%;
            min-height: 27%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .stat-col {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;

                .stat-number {
                    color: $dark-desaturated-blue;
                    font-size: $primary-font-size;
                    font-weight: 700;
                    margin-bottom: .4em;
                }

                .stat-meta {
                    color: $dark-gray;
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}